*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

addressbook/test-output/
addressbook/.settings/
.settings/
.metadata/
addressbook-java-test/test-output/
addressbook-java-test/.settings/
addressbook-win-test/test-output
addressbook-win-test/.settings
addressbook-java-tests/test-output/
addressbook-java-tests/.settings/
